#container {
    border: 1px solid black;
    height: 50vh;
    width: 50vw;
    margin:auto;
    margin-top: 15vh;
    position: relative;
    overflow: hidden;
    background-image: url(imgs/pixel-art-park-scene-with-two-people-walking-their-dogs-by-pond_36682-92289.jpg);
    /* background-color: "cyan"; */
    background-size:550px 450px;
}

/* player styling  */
#duck {

    background-color: blue;
    height: 2vw;
    width: 2vw;
    position: absolute;
    /* background-image: url(imgs/Duck.png); */
    background-size: 90px 90px;
    bottom: 0;
    z-index: 1;
}

.jump { 
    animation: jump .55s linear;
}

@keyframes jump {
    0% {
        top:150px
    }
    30% {
        top:100px
    }
    70% {
        top:100px
    }
    100% {
        top:150px
    }
}

/* obstacle styling */
.obstacle  {

    background-color: violet;
    height: 5vw;
    width: 3vw;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: obstacle 1.45s linear infinite;
}

@keyframes obstacle {
    0%{right:0%;}
    100%{right:100%;}
    
}

/* score styling */

#score{

    position: absolute;
    right: 0;
    margin: 5px;
}